<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield :page_title -%>CARTO</title>
    <%= favicon_link_tag "/favicons/favicon.ico" -%>
    <%= stylesheet_link_tag 'common_editor3', 'editor3', 'deep_insights_new', :media => 'all' %>
    <%= csrf_meta_tag -%>
    <%= insert_google_tag_manager('primary') %>
  </head>
  <body>
    <%= insert_google_tag_manager_no_script('primary') %>
    <%= yield %>
    <%= yield :js -%>
    <%= insert_google_analytics('primary') -%>
    <%= insert_hubspot() -%>
    <%= render 'admin/shared/intercom' %>
  </body>
</html>
