<!DOCTYPE html>
<html class="no-js">
  <head>
    <%= favicon_link_tag "/favicons/favicon.ico" %>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :description %>">
    <meta name="keywords" content="<%= yield :keywords %>">
    <meta name="author" content="<%= @name %>">
    <meta charset='utf-8' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="<%= yield :title %>" />
    <meta property="og:description" content="<%= yield :description %>" />
    <meta property="og:type" content="visualization" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= @avatar_url %>" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@CARTO">
    <meta name="twitter:creator" content="@CARTO">
    <meta name="twitter:title" content="<%= yield :title %>">
    <meta name="twitter:description" content="<%= yield :description %>">
    <meta name="twitter:image" content="<%= @avatar_url %>">
    <meta name="twitter:url" content="<%= request.original_url %>" />

    <%= stylesheet_link_tag 'common_new', 'data_library' %>
    <%= insert_google_tag_manager('primary') %>
  </head>

  <body class="PublicBody PublicBody--grey PublicBody--commercial">
    <%= insert_google_tag_manager_no_script('primary') %>
    <%= render partial: 'admin/shared/data_library_header' %>

    <%= yield %>

    <%= render 'admin/shared/public_footer', :light => true %>

    <script type="text/javascript">
      var config = <%= safe_js_object frontend_config_public({ https_apis: request.protocol == 'https://' }) %>;
      var account_host = '<%= CartoDB.account_host %>';
      var dataset_base_url = '<%= @dataset_base_url %>';
    </script>

    <%= insert_trackjs() %>
    <%= javascript_include_tag 'common', 'common_vendor', 'data_library' %>
    <%= yield :js %>
    <%= insert_google_analytics('primary', true) %>
    <%= insert_hubspot() %>
  </body>
</html>
